@model ShopGiay.Models.Order

<h1>Thông tin đơn hàng</h1>

<h5 class="mt-5">Order Id:  @Model.Id</h5>

<table class="table">
    <thead>
        <tr>
            <td></td>
            <th>Tên sản phẩm</th>
            <th>Giá<th>
            <th>Số lượng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            var itemTotal = item.Giay.Price * item.Quantity;
            <tr>
                <td>
                    <a class="a-box" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id"><img src="@item.Giay.Image" style="height:4em" /></a>
                </td>
                <td>
                    <a class="a-box" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">@item.Giay.Title</a>
                </td>
                <td>
                    @itemTotal.ToString("c");
                </td>
                <td>
                    <span class="badge badge-primary">@item.Quantity</span>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    <td></td>
    <td class="text-right">
        <strong>Tông tiền:</strong>
    </td>
    <td>
        <strong>@Model?.Ordertotal.ToString("c")</strong>
    </td>
    <td></td>
    </tfoot>
</table>

<a class="a-box" asp-controller="Shop" asp-action="Index"><div class="btn btn-warning text-center mr-5"><i class="fa-solid fa-arrow-left"></i> Trở về</div></a>
