@model ShopGiay.Models.Cart

<h1>Đơn hàng</h1>

@if (Model.CartItems.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                var giayTotal = item.Giay.Price * item.Quanity;
                <tr>
                    <td>
                        <a class="a-box" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id"><img src="@item.Giay.Image" style="height:4em" /></a>
                    </td>
                    <td>
                        <a class="a-box" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">@item.Giay.Title</a>
                    </td>
                    <td>
                        @giayTotal.ToString("c");
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="ReduceQuantity" asp-route-id="@item.Giay.Id"><i class="fa-solid fa-minus"></i></a>
                        <span class="badge badge-primary">@item.Quanity</span>
                        <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Giay.Id"><i class="fa-solid fa-plus"></i></a>
                    </td>
                    <td><a asp-controller="Cart" asp-action="RemoveFormCart" asp-route-id="@item.Giay.Id" class="text-danger"><i class="fa-solid fa-xmark"></i></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
        <td></td>
        <td class="text-right">
            <strong>Total:</strong>
        </td>
        <td>
            <strong>@Model?.GetCartTotal().ToString("c")</strong>
        </td>
        <td></td>
        <td></td>
        </tfoot>
    </table>
    <a class="a-box" asp-controller="Shop" asp-action="Index"><div class="btn btn-warning text-center mr-5"><i class="fa-solid fa-arrow-left"></i> Trở về</div></a>

    <a class="a-box" asp-controller="Order" asp-action="Checkout"><div class="btn btn-success float-right" style="margin-left:2rem"><i class="fa-solid fa-angles-right"></i> Đặt hàng</div></a>

    <a class="a-box" asp-controller="Cart" asp-action="ClearCart"><div class="btn btn-danger float-right"><i class="fa-solid fa-trash-can"></i> Hủy đơn hàng</div></a>


}
else
{
    <h3 class="text-center">Không Có Đơn Hàng</h3>
}
